.serviceItem{
    width: 64px;
    height: 64px;
    padding: 6px; 
    border: 3px solid rgb(23, 6, 117);
    border-radius: 5px; 
    margin-right: 10px;
}

.serviceItem:hover{
    background: rgb(23, 6, 117);
    cursor: pointer;
}