.filmCatalog{
    margin: 0 auto;
    padding: 0px;
}



@media (min-width: 901px) {
    .filmCard{
        float: left;
        width: 15%;
    }
}

@media (max-width: 900px) {
    .filmCard{
        float: left;
        width: 25%;
    }
}

@media (max-width: 600px) {
    .filmCard{
        float: left;
        width: 45%;
    }
}

@media (max-width: 444px) {
    .filmCard{
        float: left;
        width: 90%;
    }
}
