.filmCatalog{
    padding: 0px;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    display: flex;
}



@media (min-width: 901px) {
    .filmCard{
        width: 15%;
    }
}

@media (max-width: 900px) {
    .filmCard{
        width: 10%;
    }
}

@media (max-width: 600px) {
    .filmCard{
        width: 10%;
    }
}

@media (max-width: 444px) {
    .filmCard{
        width: 90%;
    }
}
