.adminPage{
    width: 90%;
    height: 800px;
    margin: 100px auto;
    background: white;
}

.addAdmin, .addMovie, .addCinema, .addShow{
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 60%;
    margin: 50px auto;
}

.addMovie, .addShow, .addAdmin, .addCinema{
    box-sizing: border-box;
    padding: 20px;
}