.adminPage{
    width: 90%;
    height: 800px;
    margin: 100px auto;
    background: white;
}

.addAdmin, .addMovie, .addCinema, .addShow{
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 60%;
    margin: 50px auto;
}

.addCinema{
    display:flex;
    width: 60%;
}

.addCinema div form{
    margin: 20px;
}

.addMovie, .addShow, .addAdmin{
    box-sizing: border-box;
    padding: 20px;
}



.cashPlacesWrapper{
    width: 30%;
    margin-top: 20px;
}

.cashPlaces{
    overflow-y: scroll;
    height:80%;
    border: 1px solid #cccc;
    border-radius: 5px;
    margin-bottom: 10px;
}