.scheme{
    height: 500px;
    width: 80%;
    overflow: auto;
    margin: 10px auto;
}

.seatsWrapper{
    width: 90%;
    height: 350px;
    border: 1px solid #ccc;
    margin: 10px auto;
    overflow: hidden;
    position: relative;
}

.screenWrapper{
    width: 80%;
    height: 70px;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 10px;
}

.screen{
    display: flex;
    align-items: center;
    vertical-align: middle;
    width: 91px;
    margin: 0 auto;
    height: 100%;
    font-size: 2rem;
}

.schemeList{
    list-style: none;
    padding: 0px;
}

