.filmPage{
    width: 100%;
    height: 100%;
}

.mainImg{
    margin-top: 70px;
    background-position: 50% 50%;
    background-size: cover;
    height: calc(100vh - 70px);
}


.filmDetails{
    height: 70%;
    width: 1000px;
    position: absolute;
    top: 15%;
    left: 15%;
    display: flex;
    align-items: flex-start;
}

.filmPagePoster{
    width: 300px;
    height: 100%;
}

.filmPagePoster img{
    width: 300px;
    height: 500px;
    border-radius: 10px;
}

.filmPagePoster .buyTickets{
    height: 50px;
    width: 300px;
    background: rgb(23, 6, 117);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.buyTickets div{
    margin: 0 auto;
}

.filmPagePoster .buyTickets:hover{
    background: #4CAF50;
}

.filmDescription{
    color: white;
    width: 700px;
    margin-top: 0%;
    padding-left: 50px;
}

.filmDescription h1{
    margin-top: 0; 
}


.filmDescription article{
    margin-top: 10%;
}

.ticketsWrapper{
    height: 100vh;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

@media (max-width: 1000px) {

}