.seat{
    height: 20px;
    border-radius: 5px;
    margin: 3px;
    cursor: pointer;
}

.seat:hover{
    background: rgb(37, 221, 31);
}

.basic{
    width: 20px;
    background: #ccc;
}

.vip{
    width: 25px;
    height: 20px;
    background: rgb(218, 241, 4);
}

.forPairs{
    width: 30px;
    height: 20px;
    background: rgb(201, 11, 11);
}