.seat{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin: 3px;
    cursor: pointer;
}

.seat:hover{
    background: rgb(37, 221, 31);
}

.basic{
    background: #ccc;
}

.delete, .booked{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin: 3px;
}

.vip{
    background: rgb(218, 241, 4);
}

.forPairs{
    background: rgb(201, 11, 11);
}

.booked{
    background: rgb(37, 13, 173);
}

.prebooked{
    background: rgb(37, 221, 31);
}