.bookedTicket{
    width: 250px;
    height: 520px;
    border: 3px solid rgb(157, 170, 247);
    border-radius: 5px;
    margin: 5px;
}

.bookedTicketDetailsList{
    list-style: none;
    padding: 0px;
}

.bookedTicketDetailsItem{
    border-bottom: 2px solid rgb(157, 170, 247);
    width: 90%;
    margin: 0 auto;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    vertical-align: middle;
    height: 50px;
}

.priceOfBookedTicket{
    display: flex;
    align-items: center;
    vertical-align: middle;
    height: 40px;
    font-size: 3rem;
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}

.bookedTicketsPositionsList, .bookedServicesList{
    list-style: none;
    margin: 0px;
    padding: 0px;
    overflow-y: scroll;
}

.bookedTicketsPositionsList{
    display: flex;
}

.bookedTicketsPositionsItem{
    margin: 3px;
    border: 2px solid rgb(157, 170, 247);
    border-radius: 5px;
    width: 50px;
    height: 100px;
}

.bookedServicesItem{
    height: 50px;
    border: 2px solid rgb(157, 170, 247);
    border-radius: 5px;
    text-align: center;
}

.rowSeat, .services{
    height: 120px;
}

.bookedTicketsPositionsList::-webkit-scrollbar, .bookedServicesList::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}

.bookedTicketsPositionsList::-webkit-scrollbar-thumb,  .bookedServicesList::-webkit-scrollbar-thumb{
    background: rgb(23, 6, 117);
    border-radius: 5px; 
  }